@import "tailwindcss";
@import "tailwindcss/theme";
@layer components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* TEXT */
  --font-display: var(--font-anton);

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.333,1240,18,1.618,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --text-mob-xs: 0.4rem;
  --text-mob-sm: 0.7rem;
  --text-mob-base: 1rem;
  --text-mob-lg: 1.3rem;
  --text-mob-xl: 1.8rem;
  --text-mob-2xl: 2.4rem;
  --text-mob-3xl: 3.15rem;
  --text-mob-4xl: 4.2rem;

  --text-desk-xs: 0.55rem;
  --text-desk-sm: 0.75rem;
  --text-desk-base: 1.125rem;
  --text-desk-lg: 1.825rem;
  --text-desk-xl: 3rem;
  --text-desk-2xl: 4.75rem;
  --text-desk-3xl: 7.75rem;
  --text-desk-4xl: 12.5rem;

  /* COLOR | PRIMARY */
  --color-forest-50: #effaf4;
  --color-forest-100: #d9f2e3;
  --color-forest-200: #b6e4cc;
  --color-forest-300: #8ad0af;
  --color-forest-400: #54b389;
  --color-forest-500: #32976d;
  --color-forest-600: #227957;
  --color-forest-700: #1b6148;
  --color-forest-800: #184d3a;
  --color-forest-900: #153f31;
  --color-forest-950: #0a241c;

  /* COLOR | NEUTRAL */
  --color-aztec-50: #f5f8f6;
  --color-aztec-100: #dfe8e3;
  --color-aztec-200: #bed1c7;
  --color-aztec-300: #96b2a4;
  --color-aztec-400: #709182;
  --color-aztec-500: #567668;
  --color-aztec-600: #435e53;
  --color-aztec-700: #384d44;
  --color-aztec-800: #303f39;
  --color-aztec-900: #2b3632;
  --color-aztec-950: #1b2622;

  /* COLOR | ACCENT */
  --color-gold-50: #fdfae9;
  --color-gold-100: #faf3c7;
  --color-gold-200: #f6e492;
  --color-gold-300: #f1ce53;
  --color-gold-400: #ebb724;
  --color-gold-500: #db9f17;
  --color-gold-600: #bd7b11;
  --color-gold-700: #975811;
  --color-gold-800: #7d4716;
  --color-gold-900: #6b3a18;
  --color-gold-950: #3e1e0a;

  /* COLOR | SEMANTIC TOKENS */
  --color-text-global: var(--color-forest-100);
  --color-text-global--disabled: var(--color-aztec-500);
  --color-text-global--error: var(--color-forest-500);
  --color-text-heading: var(--color-forest-300);
  --color-surface-global: #171e1b;
  --color-surface-action: var(--color-forest-600);
  --color-surface-action--disabled: var(--color-aztec-500);
  --color-border-global: var(--color-aztec-700);
  --color-border-global--error: var(--color-forest-700);

  /* COLOR | SEMANTIC TOKENS | FORMS */
  --color-border-form: var(--color-border-global);
  --color-text-input: var(--color-text-global);
  --color-surface-input: color-mix(
    in oklch,
    var(--color-aztec-900) 50%,
    transparent
  );
  --color-surface-input--error: color-mix(
    in oklch,
    var(--color-aztec-900) 75%,
    transparent
  );
  --color-surface-input--focus: var(--color-aztec-900);
  --color-border-input: var(--color-aztec-900);
  --color-border-input--focus: var(--color-aztec-600);

  --color-surface-radio--hover: var(--color-aztec-900);
  --color-border-radio: var(--color-aztec-600);
  --color-border-radio--checked: var(--color-forest-600);
  --color-border-radio--disabled: var(--color-aztec-900);
}

@layer components {
  /* TEXT STYLES */

  .heading-title {
    @apply text-desk-3xl leading-36 font-display font-normal uppercase;
  }
  .heading-1 {
    @apply text-desk-2xl leading-22 font-display font-normal;
  }
  .heading-2 {
    @apply text-desk-xl leading-16 font-display font-normal;
  }
  .heading-3 {
    @apply text-desk-lg leading-9 font-semibold;
  }

  .heading-4 {
    @apply text-desk-base leading-6 font-bold uppercase text-text-heading;
  }

  .heading-tagline {
    @apply text-desk-lg leading-9 uppercase text-text-heading;
  }

  .body-copy {
    @apply text-desk-base leading-7 font-normal;
  }

  .body-copy-small {
    @apply text-desk-sm leading-5 font-normal;
  }

  /* BASE COMPONENTS */

  .button {
    @apply w-full max-w-48 py-2 cursor-pointer font-bold disabled:hidden;
  }

  /* FORM ELEMENTS */
  .input-field {
    @apply flex items-center p-2 border rounded-xs text-text-input bg-surface-input border-border-input;
  }

  .input-field-text--focus {
    @apply data-focus:outline-none data-focus:bg-surface-input--focus data-focus:border-border-input--focus;
  }
  .input-field-number--focus {
    @apply has-data-focus:bg-surface-input--focus has-data-focus:border-border-input--focus;
  }

  .input-radio {
    @apply block w-4 aspect-square rounded-full group-not-data-disabled:group-hover:bg-surface-radio--hover border-2 border-border-radio group-data-checked:border-6 group-data-checked:border-border-radio--checked group-data-disabled:border-border-radio--disabled;
  }
}

body {
  background: #171e1b;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 1200px) minmax(1rem, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  > * {
    grid-column: 2;
  }

  > main {
    grid-row: 2;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flow-space {
    > * + * {
      margin-block-start: var(--flow-space, 1em);
    }
  }
}
